<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Welcome to Connect Four</h2>
            <h3 *ngIf="player1Wins">Player 1 Wins</h3>
            <h3 *ngIf="player2Wins">Player 2 Wins</h3>
            <br>
            
        </div>
    </div>
    <div *ngFor="let row of rows; let rowIndex = index;" class="row box">
        <div class="col-7 text-center">
            <div class="column" *ngFor="let column of columns; let columnIndex = index;">
                <div class="circle"  (click)="playerPicked(rowIndex, columnIndex, $event)" id="{{rowIndex}}-{{columnIndex}}">
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- 6 rows 7 columns -->