<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Welcome to Connect Four</h2>
            <h3 *ngIf="player1Wins">Player 1 Wins</h3>
            <h3 *ngIf="player2Wins">Player 2 Wins</h3>
            <h4 *ngIf="playingStandard">Playing Standard Difficulty against the Computer</h4>
            <h4 *ngIf="playingCunning">Playing Cunning Difficulty against the Computer</h4>
            <h4 *ngIf="playingHuman">Playing Player vs player</h4>
            <h5 *ngIf="player1Turn">Player 1's turn</h5>
            <h5 *ngIf="player2Turn">Player 2's turn</h5>
            <h5 *ngIf="computerTurn">Computer's turn</h5>
            <br>
            
        </div>
    </div>
    <div class="row navButtons text-center">
        <div class="col-2 navButton">
            <button class="btn btn-success" (click)="newGame();">New Game</button>
            
        </div>
        <div *ngIf="playingComputer" class="col-4 navButton">
           
        </div>
        
            <div *ngIf="chooseDifficulty"  class="col-4 navButton">
                <button class="btn btn-success" (click)="playStandard();">Standard</button>
                <button class="btn btn-success" (click)="playCunning();">Cunning</button>
            </div>
        
        
        
            <div class="col-8 navButton" *ngIf="MakeDecision" >
                <button id="playHumanButton" class="btn btn-success" (click)="playHuman();">Play Human</button>
                <button id="playComputerButton" class="btn btn-success" (click)="playComputer();">Play Computer</button>
                
            </div>
        
        
        
    </div>
    <br>
    
    <div *ngFor="let row of rows; let rowIndex = index;" class="row box">
        <div class="col-7 text-center">
            <div class="column" *ngFor="let column of columns; let columnIndex = index;">
                <div class="circle"  (click)="playerPicked(rowIndex, columnIndex, $event)" id="{{rowIndex}}-{{columnIndex}}">
                 
                </div>
                
            </div>
        </div>
    </div>
</div>



<!-- 6 rows 7 columns -->